=begin
#Webhooks API

#This is the Swagger definition for the AssemblyPayment's Webhooks API

The version of the OpenAPI document: 1.0-external
Contact: support@assemblypayments.com
Generated by: https://openapi-generator.tech
OpenAPI Generator version: 5.4.0

=end

require 'cgi'

module AssemblyRubyWebhooks
  class WebhooksSecretKeyApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a Webhooks secret_key
    # Create a **Webhooks secret_key**
    # @param webhook_secret_key_params [WebhookSecretKeyParams] 
    # @param [Hash] opts the optional parameters
    # @return [APIResponse]
    def create_webhook_secret_key(webhook_secret_key_params, opts = {})
      data, _status_code, _headers = create_webhook_secret_key_with_http_info(webhook_secret_key_params, opts)
      data
    end

    # Create a Webhooks secret_key
    # Create a **Webhooks secret_key**
    # @param webhook_secret_key_params [WebhookSecretKeyParams] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(APIResponse, Integer, Hash)>] APIResponse data, response status code and response headers
    def create_webhook_secret_key_with_http_info(webhook_secret_key_params, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebhooksSecretKeyApi.create_webhook_secret_key ...'
      end
      # verify the required parameter 'webhook_secret_key_params' is set
      if @api_client.config.client_side_validation && webhook_secret_key_params.nil?
        fail ArgumentError, "Missing the required parameter 'webhook_secret_key_params' when calling WebhooksSecretKeyApi.create_webhook_secret_key"
      end
      # resource path
      local_var_path = '/webhooks/secret_key'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(webhook_secret_key_params)

      # return_type
      return_type = opts[:debug_return_type] || 'APIResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WebhooksSecretKeyApi.create_webhook_secret_key",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhooksSecretKeyApi#create_webhook_secret_key\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
